node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Logs
logs
*.log

# docs artifacts
docs/modules/api


# Foundry
/out
/cache_forge
