{
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": ["prettier-plugin-solidity"]
}
